form{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    
    form input {
       display: flex;
       flex-direction: column;
       width: 100%;
       margin: 15px auto;
       padding: 8px;
    }
  
  .btnContainer{
    display: flex;
    justify-content:flex-end;
    margin: 5%;
    
    
   }

}