*{
    box-sizing: border-box;
}
body{
    background-color: #AD8E70;
}

.taskList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
}

